/* 
 font-family: "Poppins", sans-serif;
 font-family: "Inter", sans-serif;
*/
html, body{
    padding: 0;
    margin: 0;
}
#hero{
    height: 100vh;
    background-image: url('../images/bg-lautan.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    /* background-color: lightgreen; */
    width: 450px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

}
.hero-title{
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    color: #355C80;
    font-family: "Poppins", sans-serif;
    margin-bottom: 16px;
}
.hero-content{
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.wrapper-form{
    /* background-color: lightpink; */
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}
.btn, .phone{
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    border: none;
   
}
.btn{
    background-color: #355C80;
    color: white;
    margin-top: 18px;
}
.phone{
    box-sizing: border-box;
    outline: none;
}

/* navbar */
.navbar{
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
}
.nav-items{
    list-style: none;
    display: flex;
    margin: 0;
}

.item a{
    text-decoration: none;
    padding: 18px 28px;
    display: inline-block;
    color: #355C80;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

#about{
    padding-top: 68px;
    padding-bottom: 68px;
}
.about-title{
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #355C80;
}
.card{
    width: 287px;
    height: 180px;
    background-color: #EEF6F8;
    border-radius: 8px;
    padding: 20px 12px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.wrapper-card{
    display: flex;
    justify-content: space-evenly;
}

.card h4{
    font-size: 21px;
    text-align: center;
    font-weight: 400;
    color: #0A0A0A;
}

.card p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.footer p{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.footer{
    border-top: 2px solid #0A0A0A;
}

/* untuk tablet */
@media screen and (max-width: 800px){
    .wrapper-card{
        flex-wrap: wrap;
        gap: 20px;
    }
}

/* untuk mobile */
@media screen and (max-width: 576px){
    .container{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .wrapper-card{
        flex-direction: column;
        align-items: center;
        
    }
    
}